.area {
  padding: 4rem 3rem;
  min-height: 50vh;
  color: var(--off-white);
  background-image: linear-gradient(var(--roxo), var(--lilas));
}

.Sobre { 
  padding: 1rem; 
}

.Titulo {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
}

.AboutMe {
  font-size: 1.4rem;
  font-weight: 500;
}

.foto {
  width: 22rem;
  height: auto;
  border: 20px double var(--roxo);
  border-radius: 20px;
  outline: 6px solid var(--off-white);
  outline-offset: -13px;
}

@media (max-width: 768px) {
  .Titulo, .AboutMe { text-align: center; }
  .area { padding: 3rem 1.5rem; min-height: auto; }
}