<section class="projects px-3 px-md-5">
  <div class="container-fluid">
    <h2 class="titulo text-center mb-4">Projetos e Linguagens</h2>

    <div class="row g-4">
      <div class="col-12 col-sm-6 col-lg-4" *ngFor="let project of projects">
        <div class="card project-card h-100">
          <img *ngIf="project.image" [src]="project.image" class="card-img-top" [alt]="project.title"/>
          <div class="card-body text-center">
            <h5 class="card-title">{{ project.title }}</h5>
            <p class="card-text">{{ project.description }}</p>
          </div>
          <div class="card-footer d-flex align-items-center">
            <div class="languages d-flex align-items-center">
              <ng-container *ngFor="let lang of project.languages; let i = index">
                <img [src]="lang" class="linguagem" alt="lang {{i}}"/>
              </ng-container>
            </div>
            <div class="ms-auto github">
              <a [href]="project.github" target="_blank" rel="noopener noreferrer">
                <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" class="github-icon" alt="GitHub"/>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
