<div class="main-wrapper">
  <div class="animated-bg">
    <div class="blob blob-1"></div>
    <div class="blob blob-2"></div>
    <div class="blob blob-3"></div>
  </div>

  <app-navbar (sectionChanged)="onSectionChange($event)" [activeSection]="activeSection"></app-navbar>

  <main class="content-container" [@sectionAnimation]="activeSection">
    @if (activeSection === 'home') {
      <app-home (navigate)="onSectionChange($event)" class="view-section"></app-home>
    }
    @if (activeSection === 'about') {
      <app-about (navigate)="onSectionChange($event)" class="view-section"></app-about>
    }
    @if (activeSection === 'projects') {
      <app-projects class="view-section"></app-projects>
    }
    @if (activeSection === 'contact') {
      <app-footer class="view-section"></app-footer>
    }
  </main>
</div>