@import "bootstrap/dist/css/bootstrap.min.css";

/* Geral */
:root {
  --off-white: #fbfbfb;
  --aliceblue: #f0f8ff;
  --uva: #474350;
  --roxo: #5C47C8;
  --lilas: #c8c3d0;
  --deep-lilac: #9b59b6;
  --roxoclaro: #986dff;
  --noite: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: var(--noite);
}

::-webkit-scrollbar-thumb {
  background-color: var(--roxo);
  border-radius: 4px;
}
