.apresentacao { 
  height: 58.2rem; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center; 
  background-image: url("../../assets/img/backgroundimage.jpg"); 
  background-position: center center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  line-height: 1.4; 
}

.titulo {
  font-size: 3.2rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.titulo2 {
  background-image: linear-gradient(to right, var(--deep-lilac), var(--roxo));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.texto {
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.625rem;
  color: var(--off-white);
  text-shadow: 1px 1px 2px var(--uva);
}

@media (max-width: 768px) {
  .titulo { font-size: 2.4rem; }
  .texto { font-size: 1rem; }
}